* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.game {
  padding-top: 10px;
  margin: auto;
  font-size: 36px;
  
}

.main {
  margin-top: 10px;
  width: 320px;
  height: 620px;
  border: 10px solid gold;
  font-size: 0;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid silver;
  display: inline-block;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.yellow {
  background: yellow;
}

.pink {
  background: pink;
}

.green {
  background: green;
}

.orange {
  background: orange;
}

.purple {
  background: purple;
}

.start {
  width: 90px;
  height: 50px;
}

.pause {
  width: 90px;
  height: 50px;
}

.choose-level {
  width: 120px;
  height: 50px;
}

.namber-choose-level {
  color: red;

  font-size: 17px;
}

.game-over {
  font-size: 100px;
  color: red;
  text-align: center;
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
}
