* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.game{
  padding-top: 10px;
  margin: auto;
  font-size: 36px;
}

.main {
  margin-top: 10px;
  width: 320px;
  height: 620px;
  border: 10px solid gold;
  font-size: 0;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid silver;
  display: inline-block;
}

.movingCell {
  background-color: blue;
}

.fixedCell {
  background-color: green;
}

.bc-orange {
  background-color: orange;
}


.red{
  background: red;
}

.blue{
  background: blue;
}

.yellow{
  background: yellow;
}

.pink{
  background: pink;
}

.green{
  background: green;
}

.orange{
  background: orange;
}

.purple{
  background: purple;
}

.start {
  width: 70px;
  height: 40px;
}

.next-figure{
  position: absolute;
  top: 300px;
  left: 40px;
  font-size: 0;
}
.pause{
  width: 80px;
  height: 40px;
}
